@import url('https://fonts.googleapis.com/css2?family=Karla&display=swap');

body {
  font-family: 'Karla', sans-serif;
  background-color: #FDE7F4;
}

@media (max-width: 600px) {
    .btn {
      display: none;
    }
} 

header {
    top: 0;
    display: flex;
    position: fixed;
    width: 100%;
justify-content: space-around;
    align-items: center;
box-sizing: border-box;
font-size: 1.5em;
background: #682D5D;
left: 0;
}


#header-img {
  width: 200px;
  height: auto;
  display: flex;
  align-items: center;
  text-align: center;
}

nav {
	float: right;
}
	nav ul {
		margin: 0;
		padding: 0;
		list-style: none;
	}
	
		nav ul li {
			display: inline-block;
		}

a:link, a:visited {
    text-decoration: none;
    color: #FFFFFF;
}

.nav-link{
    font-size: 1.2em;
    padding-left: 0.5em;
}

#about {
    margin-top: 150px;    
}

.desc h2{
    border: 3px solid #682D5D;
    border-radius: 3px;
    padding: 0.2em;
}

#how-it-works {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#pricing {
    margin-top: 60px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.product {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: calc(100% / 3);
    margin: 10px;
    border: 1px solid #000;
    border-radius: 3px;
}

.product > .level {
    background-color: #682D5D;
    color: #FFFFFF;
    padding: 15px 0;
    width: 100%;
    text-transform: uppercase;
    font-weight: 700;
}

.product > button {
    border: 0;
    margin: 15px 0;
    background-color: #682D5D;
    font-weight: 400;
    color: #ffffff;
}

.product a {
    padding: 0.2em
}

.btn {
    padding: 0 20px;
    height: 40px;
    font-size: 1em;
    border: 3px black solid;
    border-radius: 2px;
    background: transparent;
    cursor: pointer;
}

#nws {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 200px;
    margin-top: 50px;
}

#nws input[type='submit'] {
    max-width: 150px;
    width: 100%;
    height: 30px;
    margin: 15px 0;
    border: 0;
    background-color: #682D5D;
    color: #FFFFFF;
}

.footer {
    margin-top: 30px;
    padding: 1em;        
    left: 0;
    background-color: #682D5D;
}

.footer > ul {
    display: flex;
    justify-content: flex-end;
}

.footer > ul > li {
    padding: 0 10px;
}

li {
    list-style: none;
}

footer > span {
    margin-top: 5px;
    display: flex;
    justify-content: flex-end;
    font-size: 0.9em;
    color: #444;

    box-sizing: border-box;
}








